.App {
  /* text-align: center; */
}
.Uistyle {
display: flex;
margin:2.5%;
justify-content:space-around;
}
.back_button{
  margin: 2%;
  padding: 0.4%;
}
.desc{
  padding:3%;
}
.minwithdraw{
  color: green;
}
.mindeposit{
  color: red;
}
.button{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
.news{  
 
  display: flex;
  margin-left: 5%;
  justify-content:space-around;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
